{% extends "base.html" %} {% block title %}Catalog{% endblock %} {% block body %}
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            <span>About</span> our shop
                        </h2>
                    </div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    </p>
                    <a href="">
              Read More
            </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/about-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end about section -->

<!-- info section -->

<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>
                    Subscribe Now
                </h6>
                <form action="">
                    <input type="text" placeholder="Enter your email">
                    <div class="d-flex justify-content-end">
                        <button>
                submit
              </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 offset-md-1">
                <h6>
                    Links
                </h6>
                <ul>
                    <li>
                        <a href="">
                Lorem ipsum dolor sit
              </a>
                    </li>
                    <li>
                        <a href="">
                amet, consectetur adipis
              </a>
                    </li>
                    <li>
                        <a href="">
                cing elit, sed do
              </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>
                    Contact us
                </h6>
                <ul>
                    <li>
                        <a href="">
                Lorem ipsum dolor sit
              </a>
                    </li>
                    <li>
                        <a href="">
                amet, consectetur adipis
              </a>
                    </li>
                    <li>
                        <a href="">
                cing elit, sed do
              </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- end info section -->
{% endblock %}